<section class="content">
    <div class="home">
        <div class="home__form">
            <app-form (payloadChangeEvent)="payloadChange($event)" (clearFormEvent)="clearForm()"></app-form>
        </div>
        <div class="home__schema">
            <accordion>
                <panel title="Schema">
                    <pre>
                        <code>
type: object
properties:
    vertices:
        type: array
        properties:
            id:
                type: string
            label:
                type: string
            type
                type: string
    edges:
        type: array
        properties:
            id:
                type: string
            label:
                type: string
            type:
                type: string
            source_id:
                type: string
            target_id:
                type: string
                        </code>
                    </pre>
                </panel>
            </accordion>
            
        </div>
        <div class="home__chart">
            <chart [payload]="payload" [clearFormEvent]="clearFormEvent.asObservable()"></chart>
        </div>
    </div>
</section>
